@page
@model IndexModel

<!-- about -->
<div id="about-us-link" class="page-section grey-light-bg clearfix">
    <div class="fes7-img-cont col-md-5">
        <div class="fes7-img" style="background-image: url(images/website/bitcoin-coin.jpg)"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-6 fes7-text-cont p-80-cont">
                <h1><span class="font-light">Copy trading will help you get into the groove of trading</span></h1>
                <p class="mb-60"></p>

                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <div class="fes7-box wow fadeIn">
                            <div class="fes7-box-icon">
                                <div class="icon icon-ecommerce-graph-increase"></div>
                            </div>
                            <h3>Learn</h3>
                            <p>It will help you learn the market.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="fes7-box wow fadeIn" data-wow-delay="200ms">
                            <div class="fes7-box-icon">
                                <div class="icon icon-ecommerce-money"></div>
                            </div>
                            <h3>Comfortability</h3>
                            <p>It will help you get comfortable trading on your own.</p>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <div class="fes7-box wow fadeIn" data-wow-delay="400ms">
                            <div class="fes7-box-icon">
                                <div class="icon icon-basic-mixer2"></div>
                            </div>
                            <h3>No Guessing</h3>
                            <p>Don’t guess where the market will go. Go with the flow and ride each wave.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="fes7-box wow fadeIn" data-wow-delay="600ms">
                            <div class="fes7-box-icon">
                                <div class="icon icon-basic-bolt"></div>
                            </div>
                            <h3>Be Decisive</h3>
                            <p>Get signals from us and you decide if you are ready to act. You control your money.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<!-- services -->
<div id="services-link" class="page-section fes4-cont">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="fes4-box wow fadeIn">
                    <h2 class="section-title">LET US <span class="bold">HELP YOU WIN</span></h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="fes4-box wow fadeIn" data-wow-delay="200ms">
                    <div class="fes4-title-cont">
                        <div class="fes4-box-icon">
                            <div class="icon icon-basic-star"></div>
                        </div>
                        <h3><span class="bold">CONTROL</span></h3>
                        <p>YOUR EMOTIONS</p>
                    </div>
                    <div>
                        Emotions and trading don’t mix. Using a system will help you overcome this hurdle.
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="fes4-box wow fadeIn" data-wow-delay="400ms">
                    <div class="fes4-title-cont">
                        <div class="fes4-box-icon">
                            <div class="icon icon-basic-share"></div>
                        </div>
                        <h3><span class="bold">TRADE</span></h3>
                        <p>BEAR AND BULL MARKETS</p>
                    </div>
                    <div>
                        Take advantage of a strategy that will allow you to trade like a pro.
                    </div>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="fes4-box wow fadeIn" data-wow-delay="600ms">
                    <div class="fes4-title-cont">
                        <div class="fes4-box-icon">
                            <div class="icon icon-basic-target"></div>
                        </div>
                        <h3><span class="bold">RELIABLE</span></h3>
                        <p>SIGNALS</p>
                    </div>
                    <div>
                        Get trade signals via Discord.
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="fes4-box wow fadeIn" data-wow-delay="800ms">
                    <div class="fes4-title-cont">
                        <div class="fes4-box-icon">
                            <div class="icon icon-basic-globe"></div>
                        </div>
                        <h3><span class="bold">TRADING</span></h3>
                        <p>CAN BE EASY</p>
                    </div>
                    <div>
                        Following successful traders with a successful system will take a lot of the guess work out of trading.
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="fes4-box wow fadeIn" data-wow-delay="1000ms">
                    <div class="fes4-title-cont">
                        <div class="fes4-box-icon">
                            <div class="icon icon-basic-pencil-ruler"></div>
                        </div>
                        <h3><span class="bold">LIMIT</span></h3>
                        <p>YOUR RISK</p>
                    </div>
                    <div>
                        You can’t win every trade but winning more than you lose is how successful traders stay ahead of others.
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- subscribe -->
<div id="subscribe-link" class="page-section grey-light-bg">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-3"></div>

            <div class="col-md-3">
                <div class="pricing-table-4 ">
                    <h1 class="pt-h4-container">@Model.MonthlySubscription.Name</h1>
                    <div class="price-container-4">
                        <span class="currency-4">$</span><span class="price-4">@Model.MonthlySubscription.Price</span>
                        <span class="cents-cont-4"><span class="place2-4">/&nbsp;month</span></span>
                    </div>

                    <ul class="pt4-ul">
                        @foreach (var feature in Model.MonthlySubscription.Features)
                        {
                            <li>@feature</li>
                        }
                    </ul>

                    <div class="price-button-container-4">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a id="monthlyButton" class="button medium gray" asp-page-handler="StripeCheckout"  asp-route-priceId="@Model.MonthlySubscription.PriceId">SUBSCRIBE</a>
                            <div id="monthlySpinner" style="display: none;">
                                <i class="fa fa-spinner fa-spin fa-2x" style="margin-left:60px;"></i>
                            </div>
                        }
                        else
                        {
                            <a class="button medium gray" href="/security/login">LOGIN TO SUBSCRIBE</a>
                        }
                    </div>
                </div>
            </div>

            <div class="col-md-3 white-bg">
                <div class="pricing-table-4 ">
                    <h1 class="pt-h4-container">@Model.YearlySubscription.Name</h1>
                    <div class="price-container-4">
                        <span class="currency-4">$</span><span class="price-4">@Model.YearlySubscription.Price</span>
                        <span class="cents-cont-4"><span class="place2-4">/&nbsp;year</span></span>
                    </div>

                    <ul class="pt4-ul">
                        @foreach (var feature in Model.YearlySubscription.Features)
                        {
                            <li>@feature</li>
                        }
                    </ul>

                    <div class="price-button-container-4">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a id="yearlyButton" class="button medium gray" asp-page-handler="StripeCheckout" asp-route-priceId="@Model.YearlySubscription.PriceId">SUBSCRIBE</a>
                            <div id="yearlySpinner" style="display: none;">
                                <i class="fa fa-spinner fa-spin fa-2x" style="margin-left:60px;"></i>
                            </div>
                        }
                        else
                        {
                            <a class="button medium gray" href="/security/login">LOGIN TO SUBSCRIBE</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- divider -->
<hr class="mt-0 mb-0">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#monthlyButton").click(function () {
            $(this).hide();
            document.getElementById("monthlySpinner").style.display = "inline-block";
        });
        $("#yearlyButton").click(function () {
            $(this).hide();

            document.getElementById("yearlySpinner").style.display = "inline-block";
        });
    });
</script>